---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        form:
            created:
                - 2026-06-08..2026-06-10
            per_page:
                - "100"
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/kmcd/xray/actions/runs?created=2026-06-08..2026-06-10&per_page=100
        method: GET
      response:
        body: '{"total_count":22,"workflow_runs":[{"id":27192614329,"name":"ci","node_id":"WFR_kwLOSyKWgc8AAAAGVM5duQ","head_branch":"main","head_sha":"7ed0f272232ee3f3bc0c79d8639b495516da08e9","path":".github/workflows/ci.yml","display_title":"github: make Prefetch resilient to mid-walk EOF (#80)","run_number":59,"event":"push","status":"completed","conclusion":"success","workflow_id":289992009,"check_suite_id":73059793784,"check_suite_node_id":"CS_kwDOSyKWgc8AAAARArP7eA","url":"https://api.github.com/repos/kmcd/xray/actions/runs/27192614329","html_url":"https://github.com/kmcd/xray/actions/runs/27192614329","pull_requests":[],"created_at":"2026-06-09T08:05:43Z","updated_at":"2026-06-09T08:08:07Z","actor":{"login":"kmcd","id":8568,"node_id":"MDQ6VXNlcjg1Njg=","avatar_url":"https://avatars.githubusercontent.com/u/8568?v=4","gravatar_id":"","url":"https://api.github.com/users/kmcd","html_url":"https://github.com/kmcd","followers_url":"https://api.github.com/users/kmcd/followers","following_url":"https://api.github.com/users/kmcd/following{/other_user}","gists_url":"https://api.github.com/users/kmcd/gists{/gist_id}","starred_url":"https://api.github.com/users/kmcd/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/kmcd/subscriptions","organizations_url":"https://api.github.com/users/kmcd/orgs","repos_url":"https://api.github.com/users/kmcd/repos","events_url":"https://api.github.com/users/kmcd/events{/privacy}","received_events_url":"https://api.github.com/users/kmcd/received_events","type":"User","user_view_type":"public","site_admin":false},"run_attempt":1,"referenced_workflows":[],"run_started_at":"2026-06-09T08:05:43Z","triggering_actor":{"login":"kmcd","id":8568,"node_id":"MDQ6VXNlcjg1Njg=","avatar_url":"https://avatars.githubusercontent.com/u/8568?v=4","gravatar_id":"","url":"https://api.github.com/users/kmcd","html_url":"https://github.com/kmcd","followers_url":"https://api.github.com/users/kmcd/followers","following_url":"https://api.github.com/users/kmcd/following{/other_user}","gists_url":"https://api.github.com/users/kmcd/gists{/gist_id}","starred_url":"https://api.github.com/users/kmcd/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/kmcd/subscriptions","organizations_url":"https://api.github.com/users/kmcd/orgs","repos_url":"https://api.github.com/users/kmcd/repos","events_url":"https://api.github.com/users/kmcd/events{/privacy}","received_events_url":"https://api.github.com/users/kmcd/received_events","type":"User","user_view_type":"public","site_admin":false},"jobs_url":"https://api.github.com/repos/kmcd/xray/actions/runs/27192614329/jobs","logs_url":"https://api.github.com/repos/kmcd/xray/actions/runs/27192614329/logs","check_suite_url":"https://api.github.com/repos/kmcd/xray/check-suites/73059793784","artifacts_url":"https://api.github.com/repos/kmcd/xray/actions/runs/27192614329/artifacts","cancel_url":"https://api.github.com/repos/kmcd/xray/actions/runs/27192614329/cancel","rerun_url":"https://api.github.com/repos/kmcd/xray/actions/runs/27192614329/rerun","previous_attempt_url":null,"workflow_url":"https://api.github.com/repos/kmcd/xray/actions/workflows/289992009","head_commit":{"id":"7ed0f272232ee3f3bc0c79d8639b495516da08e9","tree_id":"6af8780f4db5c1e7ba3d832b89af1c8401e697fd","message":"github: make Prefetch resilient to mid-walk EOF (#80)\n\ncostInterceptor.RoundTrip propagates body-read errors instead of\nswallowing them and re-attaching a partial body that decoded to\n''unexpected EOF''. fetchPRs wraps each prListQuery page in\nqueryWithEOFRetry (3 attempts, 60s budget, exponential backoff). A\nsingle mid-response network blip no longer abandons the Prefetch cache.\n\nAlso: four overflow paginators (reviews, issue-comments, review-threads,\ntimeline) now set prov.PaginationComplete=false on gql.Query error,\nmatching the CLAUDE.md invariant and the paginatePRCommits fix from\nfe7fd4f. Inline fix for the costInterceptor''s extensions.cost shape\n(nested struct vs flat int) rides along — its #78 sibling was already\nin the working tree.","timestamp":"2026-06-09T08:05:36Z","author":{"name":"Keith McDonnell","email":"keith@dancingtext.com"},"committer":{"name":"Keith McDonnell","email":"keith@dancingtext.com"}},"repository":{"id":1260557953,"node_id":"R_kgDOSyKWgQ","name":"xray","full_name":"kmcd/xray","private":true,"owner":{"login":"kmcd","id":8568,"node_id":"MDQ6VXNlcjg1Njg=","avatar_url":"https://avatars.githubusercontent.com/u/8568?v=4","gravatar_id":"","url":"https://api.github.com/users/kmcd","html_url":"https://github.com/kmcd","followers_url":"https://api.github.com/users/kmcd/followers","following_url":"https://api.github.com/users/kmcd/following{/other_user}","gists_url":"https://api.github.com/users/kmcd/gists{/gist_id}","starred_url":"https://api.github.com/users/kmcd/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/kmcd/subscriptions","organizations_url":"https://api.github.com/users/kmcd/orgs","repos_url":"https://api.github.com/users/kmcd/repos","events_url":"https://api.github.com/users/kmcd/events{/privacy}","received_events_url":"https://api.github.com/users/kmcd/received_events","type":"User","user_view_type":"public","site_admin":false},"html_url":"https://github.com/kmcd/xray","description":"Read-only extractor that produces a portable metrics artifact from a client''s engineering systems.","fork":false,"url":"https://api.github.com/repos/kmcd/xray","forks_url":"https://api.github.com/repos/kmcd/xray/forks","keys_url":"https://api.github.com/repos/kmcd/xray/keys{/key_id}","collaborators_url":"https://api.github.com/repos/kmcd/xray/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/kmcd/xray/teams","hooks_url":"https://api.github.com/repos/kmcd/xray/hooks","issue_events_url":"https://api.github.com/repos/kmcd/xray/issues/events{/number}","events_url":"https://api.github.com/repos/kmcd/xray/events","assignees_url":"https://api.github.com/repos/kmcd/xray/assignees{/user}","branches_url":"https://api.github.com/repos/kmcd/xray/branches{/branch}","tags_url":"https://api.github.com/repos/kmcd/xray/tags","blobs_url":"https://api.github.com/repos/kmcd/xray/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/kmcd/xray/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/kmcd/xray/git/refs{/sha}","trees_url":"https://api.github.com/repos/kmcd/xray/git/trees{/sha}","statuses_url":"https://api.github.com/repos/kmcd/xray/statuses/{sha}","languages_url":"https://api.github.com/repos/kmcd/xray/languages","stargazers_url":"https://api.github.com/repos/kmcd/xray/stargazers","contributors_url":"https://api.github.com/repos/kmcd/xray/contributors","subscribers_url":"https://api.github.com/repos/kmcd/xray/subscribers","subscription_url":"https://api.github.com/repos/kmcd/xray/subscription","commits_url":"https://api.github.com/repos/kmcd/xray/commits{/sha}","git_commits_url":"https://api.github.com/repos/kmcd/xray/git/commits{/sha}","comments_url":"https://api.github.com/repos/kmcd/xray/comments{/number}","issue_comment_url":"https://api.github.com/repos/kmcd/xray/issues/comments{/number}","contents_url":"https://api.github.com/repos/kmcd/xray/contents/{+path}","compare_url":"https://api.github.com/repos/kmcd/xray/compare/{base}...{head}","merges_url":"https://api.github.com/repos/kmcd/xray/merges","archive_url":"https://api.github.com/repos/kmcd/xray/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/kmcd/xray/downloads","issues_url":"https://api.github.com/repos/kmcd/xray/issues{/number}","pulls_url":"https://api.github.com/repos/kmcd/xray/pulls{/number}","milestones_url":"https://api.github.com/repos/kmcd/xray/milestones{/number}","notifications_url":"https://api.github.com/repos/kmcd/xray/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/kmcd/xray/labels{/name}","releases_url":"https://api.github.com/repos/kmcd/xray/releases{/id}","deployments_url":"https://api.github.com/repos/kmcd/xray/deployments"},"head_repository":{"id":1260557953,"node_id":"R_kgDOSyKWgQ","name":"xray","full_name":"kmcd/xray","private":true,"owner":{"login":"kmcd","id":8568,"node_id":"MDQ6VXNlcjg1Njg=","avatar_url":"https://avatars.githubusercontent.com/u/8568?v=4","gravatar_id":"","url":"https://api.github.com/users/kmcd","html_url":"https://github.com/kmcd","followers_url":"https://api.github.com/users/kmcd/followers","following_url":"https://api.github.com/users/kmcd/following{/other_user}","gists_url":"https://api.github.com/users/kmc[...]
    - id: 1
      request:
        host: api.github.com
        form:
            per_page:
                - "100"
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/kmcd/xray/actions/runs/27192614329/jobs?per_page=100
        method: GET
      response:
        body: '{"total_count":5,"jobs":[{"id":80276245146,"run_id":27192614329,"workflow_name":"ci","head_branch":"main","run_url":"https://api.github.com/repos/kmcd/xray/actions/runs/27192614329","run_attempt":1,"node_id":"CR_kwDOSyKWgc8AAAASsNZKmg","head_sha":"7ed0f272232ee3f3bc0c79d8639b495516da08e9","url":"https://api.github.com/repos/kmcd/xray/actions/jobs/80276245146","html_url":"https://github.com/kmcd/xray/actions/runs/27192614329/job/80276245146","status":"completed","conclusion":"success","created_at":"2026-06-09T08:05:43Z","started_at":"2026-06-09T08:05:46Z","completed_at":"2026-06-09T08:06:57Z","name":"lint","steps":[{"name":"Set up job","status":"completed","conclusion":"success","number":1,"started_at":"2026-06-09T08:05:47Z","completed_at":"2026-06-09T08:05:50Z"},{"name":"Run actions/checkout@v4","status":"completed","conclusion":"success","number":2,"started_at":"2026-06-09T08:05:50Z","completed_at":"2026-06-09T08:05:51Z"},{"name":"Run actions/setup-go@v5","status":"completed","conclusion":"success","number":3,"started_at":"2026-06-09T08:05:51Z","completed_at":"2026-06-09T08:06:02Z"},{"name":"Run golangci/golangci-lint-action@v7","status":"completed","conclusion":"success","number":4,"started_at":"2026-06-09T08:06:02Z","completed_at":"2026-06-09T08:06:53Z"},{"name":"Post Run golangci/golangci-lint-action@v7","status":"completed","conclusion":"success","number":6,"started_at":"2026-06-09T08:06:53Z","completed_at":"2026-06-09T08:06:53Z"},{"name":"Post Run actions/setup-go@v5","status":"completed","conclusion":"success","number":7,"started_at":"2026-06-09T08:06:53Z","completed_at":"2026-06-09T08:06:53Z"},{"name":"Post Run actions/checkout@v4","status":"completed","conclusion":"success","number":8,"started_at":"2026-06-09T08:06:53Z","completed_at":"2026-06-09T08:06:54Z"},{"name":"Complete job","status":"completed","conclusion":"success","number":9,"started_at":"2026-06-09T08:06:54Z","completed_at":"2026-06-09T08:06:54Z"}],"check_run_url":"https://api.github.com/repos/kmcd/xray/check-runs/80276245146","labels":["ubuntu-latest"],"runner_id":1000002166,"runner_name":"GitHub Actions 1000002166","runner_group_id":0,"runner_group_name":"GitHub Actions"},{"id":80276245147,"run_id":27192614329,"workflow_name":"ci","head_branch":"main","run_url":"https://api.github.com/repos/kmcd/xray/actions/runs/27192614329","run_attempt":1,"node_id":"CR_kwDOSyKWgc8AAAASsNZKmw","head_sha":"7ed0f272232ee3f3bc0c79d8639b495516da08e9","url":"https://api.github.com/repos/kmcd/xray/actions/jobs/80276245147","html_url":"https://github.com/kmcd/xray/actions/runs/27192614329/job/80276245147","status":"completed","conclusion":"success","created_at":"2026[...]
[...]
    - id: 23
      request:
        host: api.github.com
        form:
            per_page:
                - "100"
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/kmcd/xray/deployments?per_page=100
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"3ddd189429688fd964ff591cb646afe887434313d660ca2f5829d58adbe728d5"'
            X-Accepted-Oauth-Scopes:
                - repo, repo_deployment
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Oauth-Client-Id:
                - 178c6fc778ccc68e1d6a
            X-Oauth-Scopes:
                - admin:ssh_signing_key, gist, read:org, repo, workflow
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4944"
            X-Ratelimit-Reset:
                - "1780994153"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "56"
        status: 200 OK
        code: 200
        duration: 308.179208ms
