---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/user
        method: GET
      response:
        body: '{"login":"kmcd","id":8568,"node_id":"MDQ6VXNlcjg1Njg=","avatar_url":"https://avatars.githubusercontent.com/u/8568?v=4","gravatar_id":"","url":"https://api.github.com/users/kmcd","html_url":"https://github.com/kmcd","followers_url":"https://api.github.com/users/kmcd/followers","following_url":"https://api.github.com/users/kmcd/following{/other_user}","gists_url":"https://api.github.com/users/kmcd/gists{/gist_id}","starred_url":"https://api.github.com/users/kmcd/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/kmcd/subscriptions","organizations_url":"https://api.github.com/users/kmcd/orgs","repos_url":"https://api.github.com/users/kmcd/repos","events_url":"https://api.github.com/users/kmcd/events{/privacy}","received_events_url":"https://api.github.com/users/kmcd/received_events","type":"User","user_view_type":"public","site_admin":false,"name":"Keith McDonnell","company":null,"blog":"keithmcdonnell.net","location":"Suffolk, UK","email":"keith@dancingtext.com","hireable":null,"bio":null,"twitter_username":null,"notification_email":"keith@dancingtext.com","public_repos":57,"public_gists":12,"followers":30,"following":39,"created_at":"2008-04-26T17:13:08Z","updated_at":"2026-06-04T16:39:44Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"19fe996ced41096734c7e8a650f7aea6cb08c58f264dc1c423ba1df425a59396"
            Last-Modified:
                - Thu, 04 Jun 2026 16:39:44 GMT
            X-Accepted-Oauth-Scopes:
                - ""
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Oauth-Client-Id:
                - 178c6fc778ccc68e1d6a
            X-Oauth-Scopes:
                - admin:ssh_signing_key, gist, read:org, repo, workflow
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4992"
            X-Ratelimit-Reset:
                - "1780994153"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "8"
        status: 200 OK
        code: 200
        duration: 245.72475ms
